
.profile {
  width: 330px;
}

.title {
  margin-right: 58px;
  padding: 10px;
}
.profile-pic {
  width: 100%;
  border-radius: 165px;
}

.image-container {
  display:flex;
  justify-content: center;
}

.image {
  width:450px;
}

.profile-title {
  font-size: 26px;
}

.card {
  border: 4px solid #fff8c9;
  border-radius: 4px;
  background-color: #dfccfb;
  width: 18rem;
}

.portfolio-body {
  background-color: #d0bfff;
  font-family: 'Manrope', sans-serif;
}

.btn {
  background-color: #beadfa;
  border-color: whitesmoke;
  color: #fff8c9;
}

.btn:hover {
  background-color: #9376e0;
  border-color: black;
  color: black;
}

.resort-island-text {
  font-style: italic;
  color: rgb(35, 136, 136);
}

.menu-btn {
  float: left;
}

.date {
  color: gray;
}

.description {
  font-size: 12px;
}

.about-sections {
  margin-left: 10px;
}
